@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;

    --cor-gradiente: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    --branco: #ffffff;
    --roxo: #9341C8;
    --roxo-secundario: #6E5D7E;
    --branco--fundo: #F5F3F7;
    --cinza: #A39DA9;
    --roxo-titulo: #3E2753;
    --branco-background-page: #F2F2F2;
    --rose: #D99EFF;
    --roxo-claro: #EEE5F4; 
    --fundo-msg: #F5F3F7; 
}

body{
    background: var(--branco-background-page);
}


.imagem-fundo{
    position: absolute;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 4em;
    background-color: var(--branco);
    margin-inline: 4em;
    border-radius: 30px;
    padding-top: .5em;
}

.cabecalho__container{
    position: relative;
    background: var(--cor-gradiente);
    width: 93%;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 20px 20px 6px 6px;
}

.topo{
    display: flex;
    margin: auto;
    width: 50%;
}

.container__itens{
    display: flex;
}

.container-info{
    padding: 1em 4em 1.4em 1em;
}

.container-info h1{
    font-weight: 500;
    color: var(--branco);
    font-size: 11px;
    line-height: 13px;
}

.container-info p{
    color: var(--rose);
    font-size: 8px;
    line-height: 9px;;
}

.seta{
    padding-left: 1em;
    padding-right: .5em;
}

.mensagens{
    background-color: var(--fundo-msg);
    width: 93%;
    border-radius: 20px;
}

.msg__left{
    background-color: var(--roxo-claro);
    color: var(--roxo);
    font-size: .5em;
    padding: 1em 2em .8em 1.4em;
    margin: 1em 15em .8em 1em;
    border-radius: 10px 10px 10px 4px;
}

.lado-direito__imagens{
    display: flex;
    justify-content: end;
    gap: .5em;
    padding-right: .5em;
    padding-top: 1em;
}

.lado-direito{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 .5em .4em 8em;
    gap: .5em;
}

.msg__right{
    background-color: var(--branco);
    box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
    color: var(--roxo-secundario);
    font-size: .5em;
    padding: 1em 2em .8em 1em;
    border-radius: 10px 10px 4px 10px;
}


